/*
 #f6eedf
#8d1454
 */
 /* styling wrapper */ 
 .wrapper
 {
     position: fixed;
     bottom: 30%;
     right: 1%;
     z-index: 100;
    
 }
  /* styling parent */ 
 .parent
 {
     position: relative;
     /* height: 510px; */
 }
 /* styling message button */ 
 .msg-btn
 {
     background-color: #8d1454;
     color: white;
     height: 60px;
     width: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     font-size: 35px;
     padding: 10px;
     cursor: pointer;
     justify-self: flex-end;
     position: absolute;
     right: 0px;
     bottom: 0px;
     z-index: 80;
     margin-top: 0px;
     transition-delay: 0;
     box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);

 }
.msg-btn:hover
{
    transform: scale(1.1);
}
/* styling our chat box */
.chat-box
{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #8d1454;
    padding: 20px 20px 25px 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    z-index: 80;
    /* height: auto; */
    height: 450px;
    width: 200px;
    top: 60px;
    overflow: hidden;
    /* clip-path: circle(0% at 90% 95%); */
    
    
    transition: clip-path 0.5 ease-in-out ;
}
/* styling form */ 
.wrapper .fooooorm
{
    position: absolute;
    right: 1%;
    top: 50%;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 27px;
}
/* styling image*/
.avatar
{
    background-image: url(../img/client-5.png);
    height:120px ;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    padding: 10px;
    border: 4px solid white;
    margin-top: 20px;
    margin-left: 15%;
}
/* styling userName */
.username
{
    margin: 10px 0px ;
    font-size: 20px;
    color: #ececec;
    font-weight: lighter;

}

/*stling dots */
.dot
{
   height: 7px;
   width: 7px;
   background-color: #ececec; 
   border-radius: 50%;
   display: inline-block;
   margin: 1px;
}
/* styling text area */
.wrapper .fooooorm textarea
{
    height: 100px;
    width: 95%;
    margin-top:35px ;
    padding: 10px;
    outline: none;
    background-color: #ececec;
}
.wrapper .fooooorm textarea::placeholder
{
    font-size: 16px;
}
/* styling send-btn */
.send-btn
{
    padding: 10px;
    background-color: #f6eedf ;
    color: rgb(41, 30, 39);
    border: none;
    outline: none;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;

}
.send-btn:hover
{
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
.close
{
    position: relative;
    top: -10px;
    right: -80px;
    cursor: pointer;
}



